.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
}

.wide-cropped {
    width: 50vh;
    height: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
}

.purchase-img{
    height: 50vh;
}

.purchase-card img { 
    object-fit: cover; 
}

.nv-lnk{
    color: white;
}

.nv-lnk:hover{
    color: red;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color:rgb(30, 30, 30) !important;
}

body {
    background-color: rgb(240, 240, 240);
}